<footer class="bg-black ph3 pv4 white">

	<div class="mw7 center pt3">

		<div class="measure-narrow center mb4">

			<img src="/img/logo.svg" alt="Kaldi logo" class="db w4 center mb4 br0">
			<p class="f3 lh-title light-gray b tc mb2">Gelişmeleri Kaçırma</p>
			<p>Bültenimize abone olarak gelişmeleri ve kampanyaları kaçırma.</p>

			{{ partial "newsletter-form" . }}

		</div>

		<div class="flex-ns justify-between">

			<div>
				<h3 class="f4 b lh-title mb1 primary">Sarıkavak</h3>
				<ul class="mb3">
					<li><a href="/" class="link">Anasayfa</a></li>
					<li><a href="/products" class="link">Ürünlerimiz</a></li>
					<li><a href="/values" class="link">Hakkımızda</a></li>
					<li><a href="/post" class="link">#TODO</a></li>
					<li><a href="/contact" class="link">İletişim</a></li>
				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mb1 primary">Daha fazlası</h3>
				<ul class="mb3">
					<li><a href="/post/jamaica-blue/" class="link">Kampanyalar</a></li>
					<li><a href="/contact" class="link">Sizi arayalım</a></li>
				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mb2 primary">Sosyal medya</h3>
				<ul class="mhn2">
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-facebook") }}
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-twitter") }}
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-instagram") }}
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-vimeo") }}
				</ul>
			</div>

		</div>
	</div>

</footer>

{{ partial "svg" . }}

<script src="/app.js"></script>
